body{
    background-color: hsl(225, 59%, 11%);
}

* {
  font-family: 'Poppins', sans-serif;
  color: white;
}


.colored-txt {
    color: #6FFFE9;
}

.greeting {

}

header {
    display: flex;
}

@media (max-width: 767px) {
    body{
        margin-left:40px;
        margin-right: 40px;
    }
    
    #display{
        display: flex;
        width: 90%;
        border-radius: 50%;
    }
}