body{
    background-color: hsl(225, 59%, 11%);
}

* {
  font-family: 'Poppins', sans-serif;
  color: white;
}


.colored-txt {
    color: #6FFFE9;
}

#display{
    border-radius: 50%;
}

.greeting h2 {
    font-weight: 500;
}

about-content h2{
    font-weight: 500;
}   

about-content p{
    font-weight: 300;
}
header {
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
  
}

.stack .material-symbols-outlined {
    color: #6FFFE9;
    font-size: 3em;
}

.techStack {
    display: flex;
    flex-wrap: wrap;
}

.techStack .stack{
    border: 2px solid #6FFFE9;
    border-radius: 10px;
    margin: 10px;
    
}


@media (max-width: 900px) {
    body{
        margin-left:40px;
        margin-right: 40px;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburgerMenu {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }

    .hamburgerMenu span {
        color: #6FFFE9;
        font-size: 2em;
    }

    home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #display{
        display: flex;
        width: 90%;
        padding-top: 0px;
        box-shadow: 10px 10px 0px 0px rgba(0, 102, 255, 0.08);
    }

    .greeting{
        padding-top: 50px;
        margin: 0;
    }
    
    .greeting h1{
        font-size: 3rem;
        margin: 0;
    }

    .greeting h2{
        margin:0;
    }

    about h1{
        font-size: 3rem;
        padding-top: 3rem;
        margin-bottom: 0;
    }

    about-content h2{
        
    }   
    
}

@media screen and (min-width: 900px) {
    .hamburgerMenu{
      display: none;
    }
  }