body{
    background-color: #0B132B;
}

* {
  font-family: 'Poppins', sans-serif;
  color: white;
}


.colored-txt {
    color: #6FFFE9;
}


@media (max-width: 767px) {
    #display{
        width: 70%;
        border-radius: 50%;
    }
}